* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #c0392b;
    height: 60px;
    position: sticky;
    top: 0;
}

a {
    color: aquamarine;
    text-decoration: none;
    font-size: 19px;
}

    a:hover {
        color: orange;
    }

.logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
}

#img-logo {
    border-radius: 50%;
}

.caption {
    float: left;
    margin-left: 40px;
    height: 60px;
    padding-top: 11px;
}

.img {
    border-radius: 50%;
}

.login {
    float: right;
    margin-right: 50px;
    margin-top: 19px;
}

.menu {
    float: right;
    margin-right: 50px;
    margin-top: 19px;
}

.register {
    float: right;
    margin-right: 50px;
    margin-top: 19px;
}

.home {
    float: right;
    margin-right: 50px;
    margin-top: 19px;
}

.admin {
    float: right;
    margin-right: 50px;
    margin-top: 19px;
}

#name {
    color: white;
    font-size: 30px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 82vh;
    clear: both;
}


.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #161d1e;
    border-radius: 5px;
    padding: 10px;
}


.tbl-right {
    float: right;
}

.register-container {
    margin-top: 60px;
}

.register-form {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
    padding: 40px;
    height: 72vh;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 82vh;
    clear: both;
}

.btn-login {
    width: 175px;
    height: 30px;
    background: #2ecc71;
    border-radius: 3px;
    font-weight: bold;
}

.wellcome-text {
    font-weight: bold;
    margin: 0 auto;
    padding-top: 70px;
}

.registrationTxt {
    font-size: 25px;
    font-weight: bold;
    margin: 5px auto;
    color: #d35400;
}

.error-container {
    clear: both;
    padding-top: 15px;
    display: block;
}



.errMsg {
    color: red;
    font-size: 19px;
}

.regError {
    margin-top: 30px;
    color: red;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("https://i.pinimg.com/736x/5e/d4/3f/5ed43f59a1b16b4ff7810a45f04468ae--sony-xperia-z-view-source.jpg");
}
